:root {
  /* Fonts */
  --montserrat: "Montserrat", sans-serif;
  --arial: "ArialRegular", sans-serif;
  --roboto: "Roboto", sans-serif;
  --pt: "PT Serif", sans-serif;
  --regular-font-size: 16px;
  --semiBold-font-size: 36px;
  --regular-font-weight: 400;
  --montserrat-font-weight: 500;
  --semiBold-font-weight: 600;
  /* Colors */
  --regular-textColor1: #F5F5F5;
  --regular-textColor2: rgba(51, 51, 51, 1);
  --regular-textColor3: rgba(74, 74, 74, 1);
  --h2-textColor: #333333;
  --h3-textColor: rgba(79, 79, 79, 1);
  --orange-button: #FF6A00;
  --orange-border: rgba(233, 117, 34, 1) ;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .container {
    max-width: 54rem;
  }

  .header__nav-item {
    margin: 0 12px;
  }
  .header__nav-link {
    font-size: 12px;
    padding: 5px 0;
  }
  .header__contacts {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 10.125rem;
    height: 3.4375rem;
  }
  .header__contacts-btn {
    margin-right: 0px;
    width: 10.25rem;
    height: 1.9375rem;
    font-size: 11px;
  }
  .header__contacts-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--orange-border);
  }
  .header__contacts-btn:active {
    width: 10.25rem;
    height: 1.9375rem;
    margin: 0;
    font-size: 10px;
  }

  .start-screen {
    padding-bottom: 65px;
  }
  .start-screen__article {
    max-width: 54rem;
    height: auto;
    margin: 4.375rem 0 0rem 0;
    z-index: 1;
  }
  .start-screen__article::before {
    left: 46%;
    top: 37%;
  }
  .start-screen__heading {
    max-width: 755px;
    font-size: 48px;
    line-height: 52px;
  }
  .start-screen__heading::first-line {
    letter-spacing: 2.5px;
  }
  .start-screen__sub-heading {
    margin-top: 32px;
    max-width: 30.5rem;
    font-size: 24px;
    line-height: 33.6px;
  }
  .start-screen__text {
    margin-top: 18px;
  }
  .start-screen__get-consultation-btn {
    margin-top: 27px;
    padding: 22px 26px;
  }

  .feedback-form {
    width: 44rem;
    height: 28rem;
    border-radius: 20px;
  }
  .feedback-form__close-btn {
    padding: 5px;
    position: absolute;
    right: -5px;
    top: -40px;
  }
  .feedback-form__close-btn-icon {
    width: 20px;
    height: 20px;
  }
  .feedback-form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 20px;
  }
  .feedback-form__container-left {
    width: auto;
    height: auto;
    margin: 0px 0px 0px;
  }
  .feedback-form__img {
    max-width: 270px;
  }
  .feedback-form__container-right {
    width: auto;
    height: auto;
    margin: 0;
  }
  .feedback-form__heading {
    font-size: 28px;
    line-height: 100%;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  .feedback-form__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 16px;
    margin: 20px 10px 12px;
    width: 23rem;
    height: auto;
  }
  .feedback-form__form-name, .feedback-form__form-e-mail, .feedback-form__form-tel {
    row-gap: 5px;
  }
  .feedback-form__input {
    padding: 14px 0 14px 14px;
    border: 1px solid #DDDEE4;
    border-radius: 5px;
  }
  .feedback-form__input::-webkit-input-placeholder {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: 12px;
    line-height: 12px;
    color: #B1B1B1;
    opacity: 0.4;
  }
  .feedback-form__input::-moz-placeholder {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: 12px;
    line-height: 12px;
    color: #B1B1B1;
    opacity: 0.4;
  }
  .feedback-form__input:-ms-input-placeholder {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: 12px;
    line-height: 12px;
    color: #B1B1B1;
    opacity: 0.4;
  }
  .feedback-form__input::-ms-input-placeholder {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: 12px;
    line-height: 12px;
    color: #B1B1B1;
    opacity: 0.4;
  }
  .feedback-form__input::placeholder {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: 12px;
    line-height: 12px;
    color: #B1B1B1;
    opacity: 0.4;
  }
  .feedback-form__input-btn {
    padding: 14px 0;
  }
  .feedback-form__instruction {
    width: 23rem;
    font-size: 10px;
    line-height: 12px;
  }

  .application-feedback {
    width: 31.25rem;
    height: auto;
    border-radius: 20px;
  }
  .application-feedback__close-btn {
    padding: 5px;
    position: absolute;
    right: -5px;
    top: -30px;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .application-feedback__close-btn-icon {
    width: 20px;
    height: 20px;
  }
  .application-feedback__article {
    row-gap: 10px;
    margin-top: 0;
    padding: 30px 20px;
  }
  .application-feedback__article-heading {
    font-size: 28px;
    line-height: 110%;
  }
  .application-feedback__article-sub-heading {
    font-size: 14px;
    line-height: 20px;
  }
}
.our-works__header {
  font-size: 30px;
  margin-top: 105px;
}
.our-works .our-works__slider {
  max-width: 1024px;
  margin-top: 70px;
}
.our-works .our-works__slider-img {
  width: 341px;
  height: 397px;
}
.our-works .our-works__slider-btn-next {
  width: 4rem;
  height: 4rem;
  right: 185px;
  top: 43%;
}
.our-works .our-works__slider-btn-next::before {
  left: 33%;
  top: 15%;
}
.our-works .our-works__slider-btn-prev {
  width: 4rem;
  height: 4rem;
  left: 188px;
  top: 43%;
}
.our-works .our-works__slider-btn-prev::before {
  left: 33%;
  top: 15%;
}
.our-works__popup-slider {
  max-width: 33rem;
  max-height: 40rem;
}
.our-works .our-works__popup-wrapper {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.our-works .our-works__popup-slide {
  width: 100%;
  height: auto;
}
.our-works .our-works__popup-slide-img {
  width: 33rem;
  height: auto;
}
.our-works .our-works__popup-slide-text {
  margin-top: 5px;
}