:root {
  /* Fonts */
  --montserrat: "Montserrat", sans-serif;
  --arial: "ArialRegular", sans-serif;
  --roboto: "Roboto", sans-serif;
  --pt: "PT Serif", sans-serif;
  --regular-font-size: 16px;
  --semiBold-font-size: 36px;
  --regular-font-weight: 400;
  --montserrat-font-weight: 500;
  --semiBold-font-weight: 600;
  /* Colors */
  --regular-textColor1: #F5F5F5;
  --regular-textColor2: rgba(51, 51, 51, 1);
  --regular-textColor3: rgba(74, 74, 74, 1);
  --h2-textColor: #333333;
  --h3-textColor: rgba(79, 79, 79, 1);
  --orange-button: #FF6A00;
  --orange-border: rgba(233, 117, 34, 1) ;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .container {
    max-width: 54rem;
  }

  .header__nav-item {
    margin: 0 12px;
  }
  .header__nav-link {
    font-size: 12px;
    padding: 5px 0;
  }
  .header__contacts {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 10.125rem;
    height: 3.4375rem;
  }
  .header__contacts-btn {
    margin-right: 0px;
    width: 10.25rem;
    height: 1.9375rem;
    font-size: 11px;
  }
  .header__contacts-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--orange-border);
  }
  .header__contacts-btn:active {
    width: 10.25rem;
    height: 1.9375rem;
    margin: 0;
    font-size: 10px;
  }

  .start-screen {
    padding-bottom: 65px;
  }
  .start-screen__article {
    max-width: 54rem;
    height: auto;
    margin: 4.375rem 0 0rem 0;
    z-index: 1;
  }
  .start-screen__article::before {
    left: 46%;
    top: 37%;
  }
  .start-screen__heading {
    max-width: 755px;
    font-size: 48px;
    line-height: 52px;
  }
  .start-screen__heading::first-line {
    letter-spacing: 2.5px;
  }
  .start-screen__sub-heading {
    margin-top: 32px;
    max-width: 30.5rem;
    font-size: 24px;
    line-height: 33.6px;
  }
  .start-screen__text {
    margin-top: 18px;
  }
  .start-screen__get-consultation-btn {
    margin-top: 27px;
  }

  .feedback-form {
    display: none;
    position: absolute;
    left: 102.5px;
    top: 5%;
    width: 64.6875rem;
    height: 35rem;
    background-color: #fff;
    border-radius: 15px;
    z-index: 5;
    border: 5px solid #B1B1B1;
  }
  .feedback-form__close-btn {
    padding: 10px;
    position: absolute;
    right: -10px;
    top: -50px;
    background-color: #EE7A28;
    border: 1px solid transparent;
    border-radius: 100%;
  }
  .feedback-form__close-btn:hover {
    cursor: pointer;
    border-radius: 100%;
    background-color: #ee3f28;
  }
  .feedback-form__close-btn:active {
    cursor: pointer;
    background-color: #ff6e07;
  }
  .feedback-form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 20px;
  }
  .feedback-form__container-left {
    width: 28.415rem;
    height: 25.95875rem;
    margin: 90px 5px 53px;
  }
  .feedback-form__container-right {
    width: 30rem;
    height: 27.5rem;
    margin: 60px 5px;
  }
  .feedback-form__heading {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--semiBold-font-weight);
    font-size: var(--semiBold-font-size);
    line-height: 120%;
    color: var(--regular-textColor3);
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .feedback-form__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 16px;
    margin: 32px 25px 4px;
    width: 26.25rem;
    height: 20.5rem;
  }
  .feedback-form__form-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 8px;
  }
  .feedback-form__form-e-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 8px;
  }
  .feedback-form__form-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 8px;
  }
  .feedback-form__label {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: var(--regular-font-size);
    line-height: 12px;
    color: #121621;
    opacity: 0.4;
  }
  .feedback-form__input {
    padding: 14px 0 14px 14px;
    border: 1px solid #DDDEE4;
    border-radius: 5px;
  }
  .feedback-form__input::-webkit-input-placeholder {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: 12px;
    line-height: 12px;
    color: #B1B1B1;
    opacity: 0.4;
  }
  .feedback-form__input::-moz-placeholder {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: 12px;
    line-height: 12px;
    color: #B1B1B1;
    opacity: 0.4;
  }
  .feedback-form__input:-ms-input-placeholder {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: 12px;
    line-height: 12px;
    color: #B1B1B1;
    opacity: 0.4;
  }
  .feedback-form__input::-ms-input-placeholder {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: 12px;
    line-height: 12px;
    color: #B1B1B1;
    opacity: 0.4;
  }
  .feedback-form__input::placeholder {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: 12px;
    line-height: 12px;
    color: #B1B1B1;
    opacity: 0.4;
  }
  .feedback-form__input-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 14px 144px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-21.43%, #FFA96B), to(#EE7A28));
    background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
    border-radius: 10px;
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--semiBold-font-weight);
    font-size: var(--regular-font-size);
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin-top: 15px;
    border-color: transparent;
  }
  .feedback-form__input-btn:hover {
    cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(58.75%, #FFA96B), color-stop(173.44%, #EE7A28));
    background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
  }
  .feedback-form__input-btn:active {
    cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(58.75%, #FFA96B), color-stop(173.44%, #EE7A28));
    background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
    font-size: var(--regular-font-size);
    line-height: 17px;
    letter-spacing: 2px;
    padding: 14px 138px;
  }
  .feedback-form__instruction {
    width: 29.5rem;
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgb(88, 88, 88);
  }
}