.show {
  display: block;
}

.close {
  display: none;
}

.center-img {
  margin: 0 -32px;
  width: 34.731875rem;
  height: 38.625rem;
  z-index: 0;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .center-img {
    margin: 0 -25px;
    width: 406px !important;
    height: 451px !important;
  }
}

.center-img:hover {
  cursor: pointer;
}

.active {
  background-color: rgb(196, 198, 200);
}