:root {
  /* Fonts */
  --montserrat: "Montserrat", sans-serif;
  --arial: "ArialRegular", sans-serif;
  --roboto: "Roboto", sans-serif;
  --pt: "PT Serif", sans-serif;
  --regular-font-size: 16px;
  --semiBold-font-size: 36px;
  --regular-font-weight: 400;
  --montserrat-font-weight: 500;
  --semiBold-font-weight: 600;
  /* Colors */
  --regular-textColor1: #F5F5F5;
  --regular-textColor2: rgba(51, 51, 51, 1);
  --regular-textColor3: rgba(74, 74, 74, 1);
  --h2-textColor: #333333;
  --h3-textColor: rgba(79, 79, 79, 1);
  --orange-button: #FF6A00;
  --orange-border: rgba(233, 117, 34, 1) ;
}

.container {
  margin: 0 auto;
  max-width: 77.5rem;
}

.header__wrapper {
  min-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  display: block;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav-item {
  margin: 0 16px;
}
.header__nav-link {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weight);
  font-size: 14px;
  line-height: 20px;
  color: var(--regular-textColor3);
  padding: 10px 0;
}
.header__nav-link:active {
  color: var(--orange-border);
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 21.75rem;
  height: 1.9375rem;
}
.header__contacts-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
  gap: 10px;
  width: 12.25rem;
  height: 1.9375rem;
  border: 2px solid var(--orange-border);
  border-radius: 10px;
  background-color: transparent;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weight);
  font-size: 12px;
  line-height: 0.9375rem;
  letter-spacing: 1px;
  color: var(--orange-border);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header__contacts-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: var(--orange-border);
}
.header__contacts-btn:active {
  width: 10.8125rem;
  height: 1.75rem;
  margin: 2px 0 2px 10px;
  font-size: 10px;
  line-height: 0.75rem;
}
.header__contacts-number {
  width: 8rem;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: 14px;
  line-height: 20px;
  color: var(--regular-textColor3);
}
.header__burger-btn {
  display: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.start-screen {
  background-color: rgb(68, 68, 68);
  height: 860px;
}
.start-screen__article {
  position: relative;
  max-width: 51.25rem;
  height: 33.1875rem;
  margin: 9.3125rem 0 8.8125rem 0;
  z-index: 1;
}
.start-screen__article::before {
  content: "";
  background: url(../img/polygon1.png) 0 0/75% no-repeat;
  position: absolute;
  left: 70%;
  top: 32%;
  width: 21.9512195122%;
  padding-top: 32.4324324324%;
  z-index: -1;
}
.start-screen__heading {
  max-width: 755px;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: 700;
  font-size: 66px;
  line-height: 78px;
  color: var(--regular-textColor1);
}
.start-screen__heading::first-line {
  letter-spacing: 3px;
}
.start-screen__sub-heading {
  margin-top: 50px;
  max-width: 45.8125rem;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: 36px;
  line-height: 43px;
  color: var(--regular-textColor1);
}
.start-screen__text {
  margin-top: 24px;
  max-width: 48.75rem;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weight);
  font-size: 16px;
  line-height: 26px;
  color: rgb(245, 245, 245);
}
.start-screen__get-consultation-btn {
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  gap: 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-21.43%, #FFA96B), to(#EE7A28));
  background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
  border-color: #EE7A28;
  border-radius: 10px;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.start-screen__get-consultation-btn:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58.75%, #FFA96B), color-stop(173.44%, #EE7A28));
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
}
.start-screen__get-consultation-btn:active {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58.75%, #FFA96B), color-stop(173.44%, #EE7A28));
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  padding: calc(12px + 0.46875vw) calc(12px + 1.015625vw);
}

.feedback-form {
  display: none;
  position: absolute;
  left: 102.5px;
  top: 0;
  width: 64.6875rem;
  height: 35rem;
  background-color: #fff;
  border-radius: 15px;
}
.feedback-form__close-btn {
  padding: 10px;
  position: absolute;
  right: -10px;
  top: -50px;
  background-color: transparent;
  border: 1px solid transparent;
}
.feedback-form__close-btn:hover {
  cursor: pointer;
  border-radius: 100%;
  background-color: #5e545e;
}
.feedback-form__close-btn:active {
  cursor: pointer;
  background-color: #EE7A28;
}
.feedback-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}
.feedback-form__container-left {
  width: 28.415rem;
  height: 25.95875rem;
  margin: 90px 5px 53px;
}
.feedback-form__container-right {
  width: 30rem;
  height: 27.5rem;
  margin: 60px 5px;
}
.feedback-form__heading {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: var(--semiBold-font-size);
  line-height: 120%;
  color: var(--regular-textColor3);
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.feedback-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  margin: 32px 25px 4px;
  width: 26.25rem;
  height: 20.5rem;
}
.feedback-form__form-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.feedback-form__form-e-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.feedback-form__form-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.feedback-form__label {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: var(--regular-font-size);
  line-height: 12px;
  color: #121621;
  opacity: 0.4;
}
.feedback-form__input {
  padding: 14px 0 14px 14px;
  border: 1px solid #DDDEE4;
  border-radius: 5px;
}
.feedback-form__input::-webkit-input-placeholder {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 12px;
  color: #B1B1B1;
  opacity: 0.4;
}
.feedback-form__input::-moz-placeholder {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 12px;
  color: #B1B1B1;
  opacity: 0.4;
}
.feedback-form__input:-ms-input-placeholder {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 12px;
  color: #B1B1B1;
  opacity: 0.4;
}
.feedback-form__input::-ms-input-placeholder {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 12px;
  color: #B1B1B1;
  opacity: 0.4;
}
.feedback-form__input::placeholder {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 12px;
  color: #B1B1B1;
  opacity: 0.4;
}
.feedback-form__input-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 144px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-21.43%, #FFA96B), to(#EE7A28));
  background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
  border-radius: 10px;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: var(--regular-font-size);
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 15px;
  border-color: transparent;
}
.feedback-form__input-btn:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58.75%, #FFA96B), color-stop(173.44%, #EE7A28));
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
}
.feedback-form__input-btn:active {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58.75%, #FFA96B), color-stop(173.44%, #EE7A28));
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
  font-size: var(--regular-font-size);
  line-height: 17px;
  letter-spacing: 2px;
  padding: 14px 138px;
}
.feedback-form__instruction {
  width: 29.5rem;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: rgb(88, 88, 88);
}

.application-feedback {
  display: none;
  background-image: url(../img/application-feedback-bg.png);
  width: 38.875rem;
  height: 20.6875rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}
.application-feedback__close-btn {
  position: absolute;
  right: 0;
  bottom: 100%;
  background-color: #D8D8D8;
  border: 1px solid transparent;
  border-radius: 100%;
  padding: 10px;
}
.application-feedback__close-btn:hover {
  cursor: pointer;
  border-radius: 100%;
  background-color: #EE7A28;
}
.application-feedback__close-btn:active {
  cursor: pointer;
  background-color: #5e545e;
}
.application-feedback__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: 24px;
  margin-top: 90px;
}
.application-feedback__article-heading {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: var(--semiBold-font-size);
  line-height: 120%;
  text-align: center;
  color: var(--regular-textColor3);
}
.application-feedback__article-sub-heading {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: var(--regular-font-size);
  line-height: 22px;
  color: #121621;
  opacity: 0.4;
}

.our-works {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 973px;
  background-color: #ffffff;
}
.our-works__container {
  margin: 0 auto;
  max-width: 1400px;
}
.our-works__content {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.our-works__header {
  margin: 0 auto;
  width: 16.375rem;
  height: 2.6875rem;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: var(--semiBold-font-size);
  line-height: 120%;
  text-align: center;
  color: var(--regular-textColor2);
}
.our-works__slider {
  position: relative;
  margin-top: 80px;
  max-width: 1440px;
  overflow: hidden;
}
.our-works__slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.our-works__slider-img {
  width: 30.546875rem;
  height: 34rem;
}
.our-works__slider-btn-prev {
  width: 4.5625rem;
  height: 4.5625rem;
  position: absolute;
  left: 310px;
  top: 44%;
  -webkit-filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: 100%;
  z-index: 2;
}
.our-works__slider-btn-prev:hover {
  background-color: rgb(242, 244, 244);
  cursor: pointer;
}
.our-works__slider-btn-prev:disabled {
  background-color: rgb(230, 229, 226);
}
.our-works__slider-btn-prev:active {
  background-color: var(--orange-border);
}
.our-works__slider-btn-prev:disabled:active {
  background-color: rgb(230, 229, 226);
}
.our-works__slider-btn-prev::before {
  position: absolute;
  left: 30%;
  top: 21%;
  content: url(../img/btn/arrow-left.png);
}
.our-works__slider-btn-prev:active::before {
  content: url(../img/btn/arrow-left-active.png);
}
.our-works__slider-btn-prev:disabled::before {
  content: url(../img/btn/arrow-left-active.png);
}
.our-works__slider-btn-next {
  width: 4.5625rem;
  height: 4.5625rem;
  position: absolute;
  right: 310px;
  top: 44%;
  -webkit-filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: 100%;
  z-index: 2;
}
.our-works__slider-btn-next:hover {
  background-color: rgb(242, 244, 244);
  cursor: pointer;
}
.our-works__slider-btn-next:active {
  background-color: var(--orange-border);
}
.our-works__slider-btn-next:disabled {
  background-color: rgb(230, 229, 226);
}
.our-works__slider-btn-next:disabled:active {
  background-color: rgb(230, 229, 226);
}
.our-works__slider-btn-next::before {
  position: absolute;
  left: 38%;
  top: 18%;
  content: url(../img/btn/arrow-right.png);
}
.our-works__slider-btn-next:active::before {
  content: url(../img/btn/arrow-right-active.png);
}
.our-works__slider-btn-next:disabled::before {
  content: url(../img/btn/arrow-right-active.png);
}
.our-works__popup {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  visibility: hidden;
}
.our-works__popup:hover {
  cursor: pointer;
}
.our-works__popup-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}
.our-works__popup-slider {
  max-width: 43.3125rem;
  margin: 0 auto;
  overflow: hidden;
}
.our-works__popup-slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translate(-43.3rem);
          transform: translate(-43.3rem);
}
.our-works__popup-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 43.375rem;
}
.our-works__popup-slide:hover {
  cursor: auto;
}
.our-works__popup-slide-img {
  width: 43.3rem;
  height: 50rem;
}
.our-works__popup-slide-text {
  margin-top: 16px;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: var(--regular-font-size);
  line-height: 24px;
  color: var(--regular-textColor2);
  text-align: center;
}

.our-location {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 720px;
  background-color: #ffffff;
  background-image: url(../img/our-location-bg.png);
}
.our-location__container {
  margin: 0 auto;
  max-width: 1400px;
}
.our-location__content {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.our-location__header {
  margin: 0 auto;
  width: 290px;
  height: 2.6875rem;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: var(--semiBold-font-size);
  line-height: 120%;
  text-align: center;
  color: var(--regular-textColor2);
}
.our-location__slider {
  position: relative;
  margin-top: 80px;
  max-width: 1240px;
  overflow: hidden;
}
.our-location__slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-column-gap: 27px;
     -moz-column-gap: 27px;
          column-gap: 27px;
}
.our-location__slider-img {
  width: 395px;
  height: 350px;
  border-radius: 15px;
}
.our-location__slider-img:hover {
  cursor: pointer;
}
.our-location__slider-btn-prev {
  width: 4.5625rem;
  height: 4.5625rem;
  position: absolute;
  left: 62px;
  top: 45%;
  -webkit-filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: 100%;
  z-index: 2;
}
.our-location__slider-btn-prev:hover {
  background-color: rgb(242, 244, 244);
  cursor: pointer;
}
.our-location__slider-btn-prev:disabled {
  background-color: rgb(230, 229, 226);
}
.our-location__slider-btn-prev:active {
  background-color: var(--orange-border);
}
.our-location__slider-btn-prev:disabled:active {
  background-color: rgb(230, 229, 226);
}
.our-location__slider-btn-prev::before {
  position: absolute;
  left: 30%;
  top: 21%;
  content: url(../img/btn/arrow-left.png);
}
.our-location__slider-btn-prev:active::before {
  content: url(../img/btn/arrow-left-active.png);
}
.our-location__slider-btn-prev:disabled::before {
  content: url(../img/btn/arrow-left-active.png);
}
.our-location__slider-btn-next {
  width: 4.5625rem;
  height: 4.5625rem;
  position: absolute;
  right: 62px;
  top: 45%;
  -webkit-filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: 100%;
  z-index: 2;
}
.our-location__slider-btn-next:hover {
  background-color: rgb(242, 244, 244);
  cursor: pointer;
}
.our-location__slider-btn-next:active {
  background-color: var(--orange-border);
}
.our-location__slider-btn-next:disabled {
  background-color: rgb(230, 229, 226);
}
.our-location__slider-btn-next:disabled:active {
  background-color: rgb(230, 229, 226);
}
.our-location__slider-btn-next::before {
  position: absolute;
  left: 38%;
  top: 18%;
  content: url(../img/btn/arrow-right.png);
}
.our-location__slider-btn-next:active::before {
  content: url(../img/btn/arrow-right-active.png);
}
.our-location__slider-btn-next:disabled::before {
  content: url(../img/btn/arrow-right-active.png);
}
.our-location__popup {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  visibility: hidden;
}
.our-location__popup:hover {
  cursor: pointer;
}
.our-location__popup-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}
.our-location__popup-slider {
  max-width: 43.3125rem;
  margin: 0 auto;
  overflow: hidden;
}
.our-location__popup-slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translate(-43.3rem);
          transform: translate(-43.3rem);
}
.our-location__popup-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 43.375rem;
}
.our-location__popup-slide:hover {
  cursor: auto;
}
.our-location__popup-slide-img {
  width: 43.3rem;
  height: 50rem;
}
.our-location__popup-slide-text {
  margin-top: 16px;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: var(--regular-font-size);
  line-height: 24px;
  color: var(--regular-textColor2);
  text-align: center;
}
.our-location__choose-location-btn {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 50px;
  gap: 10px;
  width: 336px;
  height: 48px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-21.43%, #FFA96B), to(#EE7A28));
  background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
  border-radius: 10px;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: 600;
  font-size: var(--regular-font-size);
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.our-location__choose-location-btn:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58.75%, #FFA96B), color-stop(173.44%, #EE7A28));
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
}
.our-location__choose-location-btn:active {
  cursor: pointer;
  width: 300px;
  height: 45px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58.75%, #FFA96B), color-stop(173.44%, #EE7A28));
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 2px;
  padding: 20px 40px;
}

.form-section {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 64.5625rem;
  height: 41.875rem;
  background-color: #fff;
  border-radius: 15px;
  border: 5px solid #B1B1B1;
}
.form-section__close-btn {
  padding: 10px;
  position: absolute;
  right: -10px;
  top: -50px;
  background-color: #D8D8D8;
  border: 1px solid transparent;
  border-radius: 100%;
}
.form-section__close-btn:hover {
  cursor: pointer;
  border-radius: 100%;
  background-color: #EE7A28;
}
.form-section__close-btn:active {
  cursor: pointer;
  background-color: #5e545e;
}
.form-section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}
.form-section__container-left {
  width: 28.0625rem;
  height: 29.625rem;
  margin: 60px 5px 55px 25px;
}
.form-section__container-right {
  width: 30rem;
  height: 33.5rem;
  margin: 53px 10px;
}
.form-section__heading {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: var(--semiBold-font-size);
  line-height: 120%;
  color: var(--regular-textColor3);
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  width: 464px;
  height: 43px;
  margin-left: -10px;
}
.form-section__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  margin: 32px 25px 4px;
  width: 26.25rem;
  height: 25.5rem;
}
.form-section__form-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.form-section__form-e-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.form-section__form-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.form-section__form-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.form-section__label {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: var(--regular-font-size);
  line-height: 12px;
  color: #121621;
  opacity: 0.4;
}
.form-section__input {
  padding: 14px 0 14px 14px;
  border: 1px solid #DDDEE4;
  border-radius: 5px;
}
.form-section__input::-webkit-input-placeholder {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 12px;
  color: #B1B1B1;
  opacity: 0.4;
}
.form-section__input::-moz-placeholder {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 12px;
  color: #B1B1B1;
  opacity: 0.4;
}
.form-section__input:-ms-input-placeholder {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 12px;
  color: #B1B1B1;
  opacity: 0.4;
}
.form-section__input::-ms-input-placeholder {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 12px;
  color: #B1B1B1;
  opacity: 0.4;
}
.form-section__input::placeholder {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 12px;
  color: #B1B1B1;
  opacity: 0.4;
}
.form-section__input--select {
  padding: 14px 0 14px 14px;
  border: 1px solid #DDDEE4;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
.form-section__option {
  width: 420px;
  height: 40px;
  padding: 16px;
  background-color: #fff;
}
.form-section__input-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 144px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-21.43%, #FFA96B), to(#EE7A28));
  background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
  border-radius: 10px;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: var(--regular-font-size);
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 15px;
  border-color: transparent;
}
.form-section__input-btn:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58.75%, #FFA96B), color-stop(173.44%, #EE7A28));
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
}
.form-section__input-btn:active {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58.75%, #FFA96B), color-stop(173.44%, #EE7A28));
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
  font-size: var(--regular-font-size);
  line-height: 17px;
  letter-spacing: 2px;
  padding: 14px 138px;
}
.form-section__instruction {
  width: 470px;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: rgb(88, 88, 88);
  padding-top: 5px;
}

.application-feedback2 {
  display: none;
  background-image: url(../img/application-feedback-bg.png);
  width: 38.875rem;
  height: 20.6875rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  border-radius: 20px;
  border: 5px solid #B1B1B1;
}
.application-feedback2__close-btn {
  position: absolute;
  right: 0;
  bottom: 100%;
  background-color: #D8D8D8;
  border: 1px solid transparent;
  border-radius: 100%;
  padding: 10px;
}
.application-feedback2__close-btn:hover {
  cursor: pointer;
  border-radius: 100%;
  background-color: #EE7A28;
}
.application-feedback2__close-btn:active {
  cursor: pointer;
  background-color: #5e545e;
}
.application-feedback2__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: 24px;
  margin-top: 90px;
}
.application-feedback2__article-heading {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: var(--semiBold-font-size);
  line-height: 120%;
  text-align: center;
  color: var(--regular-textColor3);
}
.application-feedback2__article-sub-heading {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: var(--regular-font-size);
  line-height: 22px;
  color: #121621;
  opacity: 0.4;
}

.studio-decoration {
  max-width: 1440px;
  height: 908px;
  margin: 0 auto;
}
.studio-decoration__header {
  margin-top: 60px;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: var(--regular-textColor2);
}
.studio-decoration__video-container {
  position: relative;
  margin-top: 80px;
  width: 1440px;
  height: 674px;
  background-color: rgb(153, 153, 153);
}
.studio-decoration__video-container::before {
  content: url(../img/polygon2.png);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-32%, -50%);
          transform: translate(-32%, -50%);
  cursor: pointer;
}
.studio-decoration__video-container:hover::before {
  content: url(../img/polygon1.png);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-32%, -50%);
          transform: translate(-32%, -50%);
}
.studio-decoration__video {
  position: relative;
  visibility: hidden;
  margin-top: 80px;
  width: inherit;
  height: inherit;
}

.types-of-services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.types-of-services__header {
  margin-top: 60px;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: var(--regular-textColor2);
}
.types-of-services__grid-box {
  position: relative;
  margin-top: 80px;
  max-width: 77.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 35px auto 35px auto 35px auto 35px auto;
  grid-template-rows: repeat(5, auto);
  -ms-grid-columns: auto 30px auto 30px auto;
  grid-template-columns: repeat(3, auto);
  grid-auto-flow: dense;
  grid-gap: 35px 30px;
}
.types-of-services__grid-box > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.types-of-services__grid-box > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.types-of-services__grid-box > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.types-of-services__grid-box > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.types-of-services__grid-box > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.types-of-services__grid-box > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.types-of-services__grid-box > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.types-of-services__grid-box > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.types-of-services__grid-box > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.types-of-services__grid-box > *:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.types-of-services__grid-box > *:nth-child(11) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.types-of-services__grid-box > *:nth-child(12) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}
.types-of-services__grid-box > *:nth-child(13) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}
.types-of-services__grid-box > *:nth-child(14) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}
.types-of-services__grid-box > *:nth-child(15) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}
.types-of-services__item {
  position: relative;
}
.types-of-services__item:nth-child(2) {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
.types-of-services__item:nth-child(5) {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
.types-of-services__item:nth-child(6) {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
.types-of-services__item:nth-child(8) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.types-of-services__description {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(15%, -90%);
          transform: translate(15%, -90%);
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: var(--regular-font-size);
  line-height: 20px;
  color: #FFFFFF;
}