:root {
  /* Fonts */
  --montserrat: "Montserrat", sans-serif;
  --arial: "ArialRegular", sans-serif;
  --roboto: "Roboto", sans-serif;
  --pt: "PT Serif", sans-serif;
  --regular-font-size: 16px;
  --semiBold-font-size: 36px;
  --regular-font-weight: 400;
  --montserrat-font-weight: 500;
  --semiBold-font-weight: 600;
  /* Colors */
  --regular-textColor1: #F5F5F5;
  --regular-textColor2: rgba(51, 51, 51, 1);
  --regular-textColor3: rgba(74, 74, 74, 1);
  --h2-textColor: #333333;
  --h3-textColor: rgba(79, 79, 79, 1);
  --orange-button: #FF6A00;
  --orange-border: rgba(233, 117, 34, 1) ;
}

.container {
  margin: 0 auto;
  max-width: 77.5rem;
}

.header__wrapper {
  min-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  display: block;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav-item {
  margin: 0 16px;
}
.header__nav-link {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weight);
  font-size: 14px;
  line-height: 20px;
  color: var(--regular-textColor3);
  padding: 10px 0;
}
.header__nav-link:active {
  color: var(--orange-border);
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 21.75rem;
  height: 1.9375rem;
}
.header__contacts-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
  gap: 10px;
  width: 12.25rem;
  height: 1.9375rem;
  border: 2px solid var(--orange-border);
  border-radius: 10px;
  background-color: transparent;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weight);
  font-size: 12px;
  line-height: 0.9375rem;
  letter-spacing: 1px;
  color: var(--orange-border);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header__contacts-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: var(--orange-border);
}
.header__contacts-btn:active {
  width: 10.8125rem;
  height: 1.75rem;
  margin: 2px 0 2px 10px;
  font-size: 10px;
  line-height: 0.75rem;
}
.header__contacts-number {
  width: 8rem;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: 14px;
  line-height: 20px;
  color: var(--regular-textColor3);
}
.header__burger-btn {
  display: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start-screen {
  background-color: rgb(68, 68, 68);
}
.start-screen__article {
  position: relative;
  max-width: 51.25rem;
  margin: 9.3125rem 0 8.8125rem 0;
  z-index: 1;
}
.start-screen__article::before {
  content: "";
  background: url(../img/Polygon1.png) 0 0/75% no-repeat;
  position: absolute;
  left: 70%;
  top: 30%;
  width: 21.9512195122%;
  padding-top: 32.4324324324%;
  z-index: -1;
}
.start-screen__heading {
  width: 93.9024390244%;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: 700;
  font-size: calc(15px + 2.65625vw);
  line-height: calc(30px + 2.421875vw);
  color: var(--regular-textColor1);
}
.start-screen__heading::first-line {
  letter-spacing: 3px;
}
.start-screen__sub-heading {
  margin-top: 50px;
  max-width: 45.8125rem;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: calc(15px + 1.09375vw);
  line-height: calc(30px + 0.78125vw);
  color: var(--regular-textColor1);
}
.start-screen__text {
  margin-top: 24px;
  max-width: 48.75rem;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weight);
  font-size: 16px;
  line-height: 26px;
  color: rgb(245, 245, 245);
}
.start-screen__get-consultation-btn {
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc(12px + 0.46875vw) calc(12px + 1.015625vw);
  gap: 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-21.43%, #FFA96B), to(#EE7A28));
  background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
  border-color: #EE7A28;
  border-radius: 10px;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: calc(12px + 0.15625vw);
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.start-screen__get-consultation-btn:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58.75%, #FFA96B), color-stop(173.44%, #EE7A28));
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
}
.start-screen__get-consultation-btn:active {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58.75%, #FFA96B), color-stop(173.44%, #EE7A28));
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  padding: calc(12px + 0.46875vw) calc(12px + 1.015625vw);
}

.feedback-form {
  display: none;
  position: absolute;
  left: 102.5px;
  top: 0;
  width: 64.6875rem;
  height: 35rem;
  background-color: #fff;
}
.feedback-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback-form__container-left {
  width: 28.415rem;
  height: 25.95875rem;
  margin: 90px auto 53px;
}
.feedback-form__container-right {
  width: 30rem;
  height: 27.5rem;
  margin: 60px auto;
}
.feedback-form__heading {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: var(--semiBold-font-size);
  line-height: 120%;
  color: var(--regular-textColor3);
}
.feedback-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  margin: 32px auto 16px;
  width: 26.25rem;
}
.feedback-form__form-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.feedback-form__form-e-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.feedback-form__form-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.feedback-form__label {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: var(--regular-font-size);
  line-height: 12px;
  color: #121621;
  opacity: 0.4;
}
.feedback-form__input {
  padding: 18px 0 18px 16px;
  border: 1px solid #DDDEE4;
  border-radius: 5px;
}
.feedback-form__input::-webkit-input-placeholder {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 12px;
  color: #B1B1B1;
  opacity: 0.4;
}
.feedback-form__input::-moz-placeholder {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 12px;
  color: #B1B1B1;
  opacity: 0.4;
}
.feedback-form__input:-ms-input-placeholder {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 12px;
  color: #B1B1B1;
  opacity: 0.4;
}
.feedback-form__input::-ms-input-placeholder {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 12px;
  color: #B1B1B1;
  opacity: 0.4;
}
.feedback-form__input::placeholder {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weigh);
  font-size: 12px;
  line-height: 12px;
  color: #B1B1B1;
  opacity: 0.4;
}
.feedback-form__input-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 144px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-21.43%, #FFA96B), to(#EE7A28));
  background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
  border-radius: 10px;
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--semiBold-font-weight);
  font-size: var(--regular-font-size);
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.feedback-form__input-btn:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58.75%, #FFA96B), color-stop(173.44%, #EE7A28));
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
}
.feedback-form__input-btn:active {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58.75%, #FFA96B), color-stop(173.44%, #EE7A28));
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
  font-size: var(--regular-font-size);
  line-height: 17px;
  letter-spacing: 2px;
  padding: 14px 138px;
}