// TO %
@function prc($pxOne, $pxTwo) {
  $result: ($pxOne / $pxTwo) * 100%;
  @return $result;
}
// REM %
@function rem($px) {
  $result: $px / 16 + rem;
  @return $result;
}
// EM % 
@function em($px) {
  $result: $px / 16 + em;
  @return $result;
}

.show {
  display: block;
}

.close {
  display: none;
}

.center-img {
  margin: 0 -32px;
  width: rem(555.71);
  height: rem(618);
  z-index: 0;
  @media (min-width: 1024px) and (max-width: 1439px) {
    margin: 0 -25px;
    width: 406px !important;
    height: 451px !important;
  }
}

.center-img:hover {
  cursor: pointer;
}

.active {
  background-color: rgb(196, 198, 200);
}


