:root {
  /* Fonts */
  --montserrat: 'Montserrat', sans-serif;
  --arial: "ArialRegular", sans-serif;
  --roboto: 'Roboto', sans-serif;
  --pt: 'PT Serif', sans-serif;

  --regular-font-size: 16px;
  --semiBold-font-size: 36px;

  --regular-font-weight: 400;
  --montserrat-font-weight: 500;
  --semiBold-font-weight: 600;

  /* Colors */
  --regular-textColor1: #F5F5F5;
  --regular-textColor2: rgba(51, 51, 51, 1); 
  --regular-textColor3: rgba(74, 74, 74, 1);
  --h2-textColor: #333333;
  --h3-textColor: rgba(79, 79, 79, 1);
  --orange-button: #FF6A00;
  --orange-border: rgba(233, 117, 34, 1)
}

@mixin montserrat-regular-text ($color) {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weight);
  font-size: var(--regular-font-size);
  line-height: 26px;
  color: $color;
}

%steps-work {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weight);
  font-size: var(--regular-font-size);
  line-height: 140%;
  color: var(--regular-textColor3);
}

// TO %
@function prc($pxOne, $pxTwo) {
  $result: ($pxOne / $pxTwo) * 100%;
  @return $result;
}
// REM %
@function rem($px) {
  $result: $px / 16 + rem;
  @return $result;
}
// EM % 
@function em($px) {
  $result: $px / 16 + em;
  @return $result;
}

.container {
  margin: 0 auto;
  max-width: rem(1240);
}

.header {
  // margin: 0 auto;
  // max-width: rem(1440);

  &__wrapper {
    min-height: rem(80);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
  }

  &__logo-img {
  }

  &__nav {
    display: block;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    margin: 0 16px;
  }

  &__nav-link {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weight);
    font-size: 14px;
    line-height: 20px;
    color: var(--regular-textColor3);
    padding: 10px 0;
  }

  &__nav-link:active {
    color: var(--orange-border);
  }

  &__contacts {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: rem(348);
    height: rem(31);
  }

  &__contacts-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    gap: 10px;
    width: rem(196);
    height: rem(31);
    border: 2px solid var(--orange-border);
    border-radius: 10px;
    background-color: transparent;
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weight);
    font-size: 12px;
    line-height: rem(15);
    letter-spacing: 1px;
    color: var(--orange-border);
    transition: 0.2s;
  }

  &__contacts-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--orange-border);
  }

  &__contacts-btn:active {
    width: rem(173);
    height: rem(28);
    margin: 2px 0 2px 10px;
    font-size: 10px;
    line-height: rem(12);
  }

  &__contacts-number {
    width: rem(128);
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--semiBold-font-weight);
    font-size: 14px;
    line-height: 20px;
    color: var(--regular-textColor3);
  }

  &__burger-btn {
    display: none;
  }
}

// -------------------------------------------------------------------------Start-scren------------------------------------------------------------ 

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.start-screen {
  background-color: rgb(68, 68, 68);
  height: 860px;

  &__article {
    position: relative;
    max-width: rem(820);
    height: rem(531);
    margin: rem(149) 0 rem(141) 0;
    z-index: 1;
  }

  &__article::before {
    content: "";
    background: url(../img/polygon1.png) 0 0 / 75% no-repeat;
    position: absolute;
    left: 70%;
    top: 32%;
    width: prc(180, 820);
    padding-top: prc(180, 555);
    z-index: -1;
  }

  &__heading {
    max-width: 755px;
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 78px;
    color: var(--regular-textColor1);
  }

  &__heading::first-line {
    letter-spacing: 3px;
  }

  &__sub-heading {
    margin-top: 50px;
    max-width: rem(733);
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--semiBold-font-weight);
    font-size: 36px;
    line-height: 43px;
    color: var(--regular-textColor1);
  }

  &__text {
    margin-top: 24px;
    max-width: rem(780);
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weight);
    font-size: 16px;
    line-height: 26px;
    color: rgba(245, 245, 245, 1);
    
  }

  &__get-consultation-btn {
    margin-top: 31px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 10px;
    background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
    border-color: #EE7A28;
    border-radius: 10px;
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--semiBold-font-weight);
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.2s;
  }

  &__get-consultation-btn:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
  }

  &__get-consultation-btn:active {
    cursor: pointer;
    background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    padding: calc(12px + 6 * (100vw / 1280)) calc(12px + 13 * (100vw / 1280));
  }
}

.feedback-form {
  display: none;
  position: absolute;
  left: 102.5px;
  top: 0;
  width: rem(1035);
  height: rem(560);
  background-color: #fff;  
  border-radius: 15px;

  &__close-btn {
    padding: 10px;
    position: absolute;
    right: -10px;
    top: -50px;
    background-color: transparent;
    border: 1px solid transparent;
  }

  &__close-btn:hover {
    cursor: pointer;
    border-radius: 100%;
    background-color: #5e545e;
  }

  &__close-btn:active {
    cursor: pointer;
    background-color: #EE7A28;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;

  }

  &__container-left {
    width: rem(454.64);
    height: rem(415.34);
    margin: 90px 5px 53px;
  }

  &__container-right {
    width: rem(480);
    height: rem(440);
    margin: 60px 5px;
  }

  &__heading {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--semiBold-font-weight);
    font-size: var(--semiBold-font-size);
    line-height: 120%;
    color: var(--regular-textColor3);
    transform: translateX(10px);
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 32px 25px 4px;
    width: rem(420);
    height: rem(328);
  }

  &__form-name {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__form-e-mail {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__form-tel {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__label {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: var(--regular-font-size);
    line-height: 12px;
    color: #121621;
    opacity: 0.4;
  }

  &__input {
    padding: 14px 0 14px 14px;
    border: 1px solid #DDDEE4;
    border-radius: 5px;
  }

  &__input::placeholder {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: 12px;
    line-height: 12px;
    color: #B1B1B1;
    opacity: 0.4;
  }


  &__input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 144px;
    background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
    border-radius: 10px;
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--semiBold-font-weight);
    font-size: var(--regular-font-size);
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.2s;
    margin-top: 15px;
    border-color: transparent;;
  }

  &__input-btn:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
  }

  &__input-btn:active {
    cursor: pointer;
    background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
    font-size: var(--regular-font-size);
    line-height: 17px;
    letter-spacing: 2px;
    padding: 14px 138px;
  }

  &__instruction {
    width: rem(472);
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgba(88, 88, 88, 1);
  }
}

.application-feedback {
  display: none;
  background-image: url(../img/application-feedback-bg.png);
  width: rem(622);
  height: rem(331);
  position: absolute;
  left: 45%;
  top: 20%;

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 24px;
    margin-top: 90px;
  }

  &__article-heading {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--semiBold-font-weight);
    font-size: var(--semiBold-font-size);
    line-height: 120%;
    text-align: center;
    color: var(--regular-textColor3);
  }

  &__article-sub-heading {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: var(--regular-font-size);
    line-height: 22px;
    color: #121621;
    opacity: 0.4;
  }
}

// -------------------------------------------------------------------------Our-works------------------------------------------------------------ 

.our-works {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 973px;
  background-color: #ffffff;

  &__container {
    margin: 0 auto;
    max-width: 1400px;
  }

  &__content {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header {
    margin: 0 auto;
    width: rem(262);
    height: rem(43);
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--semiBold-font-weight);
    font-size: var(--semiBold-font-size);
    line-height: 120%;
    text-align: center;
    color: var(--regular-textColor2);
  }

  &__slider {
    position: relative;
    margin-top: 80px;
    max-width: 1440px;
    overflow: hidden;
  }

  &__slider-wrapper {
    display: flex;
    align-items: center;
    transition: transform 1s ease;
  }

  &__slider-img {
    width: rem(488.75);
    height: rem(544);
  }

  &__slider-btn-prev {
    width: rem(73);
    height: rem(73);
    position: absolute;
    left: 310px;
    top: 44%;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 100%;
    z-index: 2;
  }

  &__slider-btn-prev:hover {
    background-color: rgba(242, 244, 244, 1);
    cursor: pointer;
  }

  &__slider-btn-prev:disabled {
    background-color: rgb(230, 229, 226);
  }

  &__slider-btn-prev:active {
    background-color: var(--orange-border);
  }

  &__slider-btn-prev:disabled:active {
    background-color: rgb(230, 229, 226);
  }

  &__slider-btn-prev::before {
    position: absolute;
    left: 30%;
    top: 21%;
    content: url(../img/btn/arrow-left.png);
  }

  &__slider-btn-prev:active::before {
    content: url(../img/btn/arrow-left-active.png);
  }

  &__slider-btn-prev:disabled::before {
    content: url(../img/btn/arrow-left-active.png);
  }

  &__slider-btn-next {
    width: rem(73);
    height: rem(73);
    position: absolute;
    right: 310px;
    top: 44%;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 100%;
    z-index: 2;
  }

  &__slider-btn-next:hover {
    background-color: rgba(242, 244, 244, 1);
    cursor: pointer;
  }

  &__slider-btn-next:active {
    background-color: var(--orange-border);
  }

  &__slider-btn-next:disabled {
    background-color: rgb(230, 229, 226);
  }

  &__slider-btn-next:disabled:active {
    background-color: rgb(230, 229, 226);
  }

  &__slider-btn-next::before {
    position: absolute;
    left: 38%;
    top: 18%;
    content: url(../img/btn/arrow-right.png);
  }

  &__slider-btn-next:active::before {
    content: url(../img/btn/arrow-right-active.png);
  }

  &__slider-btn-next:disabled::before {
    content: url(../img/btn/arrow-right-active.png);
  }

  &__popup {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    visibility: hidden;
  }
  
  &__popup:hover {
    cursor: pointer;
  }

  &__popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    transform: translateY(5%)
  }

  &__popup-slider {
    max-width: rem(693);
    margin: 0 auto;
    overflow: hidden;
  }

  &__popup-slider-wrapper {
    display: flex;
    transition: transform 1s ease;
    transform: translate(rem(-692.8));
  }

  &__popup-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: rem(694);
    // height: rem(830);
  }

  &__popup-slide:hover {
    cursor: auto;
  }

  &__popup-slide-img {
    width: rem(692.8); //43.3rem;
    height: rem(800);
  }

  &__popup-slide-text {
    margin-top: 16px;
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: var(--regular-font-size);
    line-height: 24px;
    color: var(--regular-textColor2);
    text-align: center;
  }

  &__popup-slider-btn-prev {
    width: rem(73);
    height: rem(73);
    position: absolute;
    left: 333px;
    top: 47%;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 100%;
    z-index: 2;
  }

  &__popup-slider-btn-prev:hover {
    background-color: rgba(242, 244, 244, 1);
    cursor: pointer;
  }

  &__popup-slider-btn-prev:disabled {
    background-color: rgb(230, 229, 226);
  }

  &__popup-slider-btn-prev:active {
    background-color: var(--orange-border);
  }

  &__popup-slider-btn-prev:disabled:active {
    background-color: rgb(230, 229, 226);
  }

  &__popup-slider-btn-prev::before {
    position: absolute;
    left: 30%;
    top: 21%;
    content: url(../img/btn/arrow-left.png);
  }

  &__popup-slider-btn-prev:active::before {
    content: url(../img/btn/arrow-left-active.png);
  }

  &__popup-slider-btn-prev:disabled::before {
    content: url(../img/btn/arrow-left-active.png);
  }

  &__popup-slider-btn-next {
    width: rem(73);
    height: rem(73);
    position: absolute;
    right: 333px;
    top: 47%;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 100%;
    z-index: 2;
  }

  &__popup-slider-btn-next:hover {
    background-color: rgba(242, 244, 244, 1);
    cursor: pointer;
  }

  &__popup-slider-btn-next:active {
    background-color: var(--orange-border);
  }

  &__popup-slider-btn-next:disabled {
    background-color: rgb(230, 229, 226);
  }

  &__popup-slider-btn-next:disabled:active {
    background-color: rgb(230, 229, 226);
  }

  &__popup-slider-btn-next::before {
    position: absolute;
    left: 38%;
    top: 18%;
    content: url(../img/btn/arrow-right.png);
  }

  &__popup-slider-btn-next:active::before {
    content: url(../img/btn/arrow-right-active.png);
  }

  &__popup-slider-btn-next:disabled::before {
    content: url(../img/btn/arrow-right-active.png);
  }

}

// -------------------------------------------------------------------------Our-location------------------------------------------------------------ 

.our-location {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 720px;
  background-color: #ffffff;
  background-image: url(../img/our-location-bg.png);

  &__container {
    margin: 0 auto;
    max-width: 1400px;
  }

  &__content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header {
    margin: 0 auto;
    width: 290px;
    height: rem(43);
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--semiBold-font-weight);
    font-size: var(--semiBold-font-size);
    line-height: 120%;
    text-align: center;
    color: var(--regular-textColor2);
  }

  &__slider {
    position: relative;
    margin-top: 80px;
    max-width: 1240px;
    overflow: hidden;
  }

  &__slider-wrapper {
    display: flex;
    align-items: center;
    transition: transform 1s ease;
    column-gap: 27px;
  }

  &__slider-img {
    width: 395px;
    height: 350px;
    border-radius: 15px;
  }
  
  &__slider-img:hover {
    cursor: pointer;
  }

  &__slider-btn-prev {
    width: rem(73);
    height: rem(73);
    position: absolute;
    left: 62px;
    top: 45%;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 100%;
    z-index: 2;
  }

  &__slider-btn-prev:hover {
    background-color: rgba(242, 244, 244, 1);
    cursor: pointer;
  }

  &__slider-btn-prev:disabled {
    background-color: rgb(230, 229, 226);
  }

  &__slider-btn-prev:active {
    background-color: var(--orange-border);
  }

  &__slider-btn-prev:disabled:active {
    background-color: rgb(230, 229, 226);
  }

  &__slider-btn-prev::before {
    position: absolute;
    left: 30%;
    top: 21%;
    content: url(../img/btn/arrow-left.png);
  }

  &__slider-btn-prev:active::before {
    content: url(../img/btn/arrow-left-active.png);
  }

  &__slider-btn-prev:disabled::before {
    content: url(../img/btn/arrow-left-active.png);
  }

  &__slider-btn-next {
    width: rem(73);
    height: rem(73);
    position: absolute;
    right: 62px;
    top: 45%;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 100%;
    z-index: 2;
  }

  &__slider-btn-next:hover {
    background-color: rgba(242, 244, 244, 1);
    cursor: pointer;
  }

  &__slider-btn-next:active {
    background-color: var(--orange-border);
  }

  &__slider-btn-next:disabled {
    background-color: rgb(230, 229, 226);
  }

  &__slider-btn-next:disabled:active {
    background-color: rgb(230, 229, 226);
  }

  &__slider-btn-next::before {
    position: absolute;
    left: 38%;
    top: 18%;
    content: url(../img/btn/arrow-right.png);
  }

  &__slider-btn-next:active::before {
    content: url(../img/btn/arrow-right-active.png);
  }

  &__slider-btn-next:disabled::before {
    content: url(../img/btn/arrow-right-active.png);
  }

  &__popup {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    visibility: hidden;
  }
  
  &__popup:hover {
    cursor: pointer;
  }

  &__popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    transform: translateY(5%)
  }

  &__popup-slider {
    max-width: rem(693);
    margin: 0 auto;
    overflow: hidden;
  }

  &__popup-slider-wrapper {
    display: flex;
    transition: transform 1s ease;
    transform: translate(rem(-692.8));
  }

  &__popup-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: rem(694);
    // height: rem(830);
  }

  &__popup-slide:hover {
    cursor: auto;
  }

  &__popup-slide-img {
    width: rem(692.8); //43.3rem;
    height: rem(800);
  }

  &__popup-slide-text {
    margin-top: 16px;
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: var(--montserrat-font-weigh);
    font-size: var(--regular-font-size);
    line-height: 24px;
    color: var(--regular-textColor2);
    text-align: center;
  }

  &__popup-slider-btn-prev {
    width: rem(73);
    height: rem(73);
    position: absolute;
    left: 333px;
    top: 47%;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 100%;
    z-index: 2;
  }

  &__popup-slider-btn-prev:hover {
    background-color: rgba(242, 244, 244, 1);
    cursor: pointer;
  }

  &__popup-slider-btn-prev:disabled {
    background-color: rgb(230, 229, 226);
  }

  &__popup-slider-btn-prev:active {
    background-color: var(--orange-border);
  }

  &__popup-slider-btn-prev:disabled:active {
    background-color: rgb(230, 229, 226);
  }

  &__popup-slider-btn-prev::before {
    position: absolute;
    left: 30%;
    top: 21%;
    content: url(../img/btn/arrow-left.png);
  }

  &__popup-slider-btn-prev:active::before {
    content: url(../img/btn/arrow-left-active.png);
  }

  &__popup-slider-btn-prev:disabled::before {
    content: url(../img/btn/arrow-left-active.png);
  }

  &__popup-slider-btn-next {
    width: rem(73);
    height: rem(73);
    position: absolute;
    right: 333px;
    top: 47%;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 100%;
    z-index: 2;
  }

  &__popup-slider-btn-next:hover {
    background-color: rgba(242, 244, 244, 1);
    cursor: pointer;
  }

  &__popup-slider-btn-next:active {
    background-color: var(--orange-border);
  }

  &__popup-slider-btn-next:disabled {
    background-color: rgb(230, 229, 226);
  }

  &__popup-slider-btn-next:disabled:active {
    background-color: rgb(230, 229, 226);
  }

  &__popup-slider-btn-next::before {
    position: absolute;
    left: 38%;
    top: 18%;
    content: url(../img/btn/arrow-right.png);
  }

  &__popup-slider-btn-next:active::before {
    content: url(../img/btn/arrow-right-active.png);
  }

  &__popup-slider-btn-next:disabled::before {
    content: url(../img/btn/arrow-right-active.png);
  }

}

