:root {
  /* Fonts */
  --montserrat: 'Montserrat', sans-serif;
  --arial: "ArialRegular", sans-serif;
  --roboto: 'Roboto', sans-serif;
  --pt: 'PT Serif', sans-serif;

  --regular-font-size: 16px;
  --semiBold-font-size: 36px;

  --regular-font-weight: 400;
  --montserrat-font-weight: 500;
  --semiBold-font-weight: 600;

  
  /* Colors */

  --regular-textColor1: #F5F5F5;
  --regular-textColor2: rgba(51, 51, 51, 1); 
  --regular-textColor3: rgba(74, 74, 74, 1);
  --h2-textColor: #333333;
  --h3-textColor: rgba(79, 79, 79, 1);
 

  --orange-button: #FF6A00;
  --orange-border: rgba(233, 117, 34, 1);

}

@mixin montserrat-regular-text ($color) {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weight);
  font-size: var(--regular-font-size);
  line-height: 26px;
  color: $color;
}

// p {
//   @include montserrat-regular-text (var(--regular-textColor3));
// }


%steps-work {
  font-family: var(--montserrat);
  font-style: normal;
  font-weight: var(--montserrat-font-weight);
  font-size: var(--regular-font-size);
  line-height: 140%;
  color: var(--regular-textColor3);
}

// p {
//   @extend %step-work;
// }




